{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="homepage-specific-animation" id="home-introduction">
        <!--Change link to test library -->
        <div class="position-relative ct-tui  p-2 p-lg-5 bg-white" id="">
            <div class="container position-relative">
                <div class="fadeInUp row m-0 p-0 justify-content-center" >
                    <div class="col col-12 col-xl-6 m-0 p-0 ct-tui__col">
                        <h1 class="h1 ct-tui__title">
                            <p> Hanja Hero</p>				</h1>
                        <div class="ct-tui__description">
                            <h2><strong>TOPIK Mock Tests</strong></h2>
                            <p>Our TOPIK Mock Test website offers a comprehensive platform for individuals preparing for
                                the Test of Proficiency in Korean (TOPIK). <br><br>
                                With a user-friendly interface and a vast array of practice materials, including mock tests,
                                vocabulary lists, grammar explanations, and
                                sample essays, learners can tailor their study experience to their specific needs. Our
                                innovative AI grading system provides instant feedback on writing tasks, allowing users to
                                track their progress and refine their skills effectively. <br><br>
                                Whether you're a beginner or an advanced learner, our website is designed to support your
                                journey to TOPIK success with
                                accuracy, efficiency, and convenience.</p>
                        </div>

                        <div class="row m-0 pt-4 pb-5 ct-tui__bottoms">
                            <div class="col col-6 col-lg-6">
                                <a href="https://onthiielts.com.vn/kiem-tra-trinh-do/" class="btn-oval btn-primary btn-lg w-100 rounded-pill ct-tui__button btn" title="About Us" target="_blank">
                                    About Us						</a>
                            </div>
                            <div class="col col-6 col-lg-6">
                                <a href="https://onthiielts.com.vn/kiem-tra-trinh-do/" class="btn-oval btn-secondary btn-lg w-100 rounded-pill ct-tui__button btn" title="About the TOPIK exam" target="_blank">
                                    About the TOPIK exam						</a>
                            </div>
                        </div>
                    </div>
                    <div class="col col-12 col-sm-10 col-lg-6 m-0 p-0 ct-tui__col d-none d-xl-flex">
                        <img fetchpriority="high" decoding="async" width="600" height="450" src="{% static 'img/home-header.png' %}" class="thumbnail-component ct-tui__image object-fit-contain is-not-lazyload" alt="" loading="1">

                    </div>
                </div>
            </div>
        </div>
        <!-- Your content here -->


        <div class="row">
            <div class="col-lg-6">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-header" style="font-size: 20px; font-weight: bold;">Practice Tests</div>
                    <div class="card-body">
                        <p class="card-text">A wide range of exercises categorized by format, difficulty levels, and specific exams, ensuring tailored and efficient preparation for all learners.</p>
                        <button class="mb-1 btn btn-secondary btn-oval" type="button">Practice!</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-default mb-3">
                    <div class="card-header" style="font-size: 20px; font-weight: bold;">Mock Tests</div>
                    <div class="card-body">
                        <p class="card-text">Take authentic tests under realistic exam conditions, complete with timed tests and instant grading, facilitating an authentic and effective test-taking experience!</p>
                        <button class="mb-1 btn btn-primary btn-oval" type="button">Take the test!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}