{% extends 'layout/base.html' %}
{% load static %}

{% block content %}
    <title>Hanja Hero - TOPIK Mock Tests</title>
    <div class="homepage-specific-animation" id="home-introduction">
        <div class="card" style="width: 90%; border: None; padding: 0; border-radius: 40px">
            <!--Change link to test library -->
            <div class="position-relative ct-tui p-2 p-lg-5" id="" style="padding: 20px">
                <div class="container position-relative">
                    <div class="fadeInUp row m-0 p-0 justify-content-center">
                        <!-- Text and Description Column -->
                        <div class="col-12 col-lg-6" style="padding-top: 10px">
                            <h1 class="h1 ct-tui__title" style="padding-bottom: 20px">
                                <strong>Hanja Hero</strong>
                            </h1>
                            <div class="ct-tui__description">
                                <p>
                                    Our TOPIK Mock Test website offers a comprehensive platform for individuals
                                    preparing for the Test of Proficiency in Korean (TOPIK).
                                    <br><br>
                                    With a user-friendly interface and a vast array of practice materials, including
                                    mock tests, vocabulary lists, grammar explanations, and sample essays, learners can
                                    tailor their study experience to their specific needs.
                                    <br><br>
                                    Our innovative AI grading system provides instant feedback on writing tasks,
                                    allowing users to track their progress and refine their skills effectively.
                                    <br><br>
                                    Whether you're a beginner or an advanced learner, our website is designed to support
                                    your journey to TOPIK success with accuracy, efficiency, and convenience.
                                </p>
                            </div>
                        </div>

                        <!-- Image Column -->
                        <div class="col-12 col-lg-6 d-none d-lg-block">
                            <img fetchpriority="high" decoding="async" width="500"
                                 src="{% static 'img/home-header.png' %}"
                                 class="thumbnail-component ct-tui__image object-fit-contain is-not-lazyload img-fluid" alt=""
                                 loading="eager">
                        </div>
                        <!-- Buttons -->
                        <div class="row m-0 pt-4 pb-5 ct-tui__bottoms" style="align-content: start; padding-bottom: 0 !important">
                            <div class="col-12 d-flex flex-wrap justify-content-center">
                                <div class="p-2">
                                    <a href="/aboutus/" class="btn-oval btn-lg rounded-pill ct-tui__button btn"
                                       title="About Us" style="background-color: rgb(0, 51, 153); color: #fff" target="_blank">
                                        About Us
                                    </a>
                                </div>
                                <div class="p-2">
                                    <a href="/abouttheTOPIKexam/" class="btn-oval btn-secondary btn-lg rounded-pill ct-tui__button btn"
                                       title="About the TOPIK exam" style="border-color: rgb(0, 51, 153);" target="_blank">
                                        About the TOPIK exam
                                    </a>
                                </div>
                                <div class="p-2">
                                    <a href="/examdates/" class="btn-oval btn-primary btn-lg rounded-pill ct-tui__button btn"
                                       style="background-color: rgb(0, 51, 153); color: #fff" title="About the TOPIK exam" target="_blank">
                                        TOPIK Exam dates
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Your content here -->


        <div class="row" style="padding-top: 10px">
            <div class="col-lg-6">
                <div class="card text-white mb-3" style="background-color: rgba(0,51,153,0.88)">
                    <div class="card-header" style="font-size: 20px; font-weight: bold;">Practice Tests</div>
                    <div class="card-body">
                        <p class="card-text">A wide range of exercises categorized by format, difficulty levels, and
                            specific exams, ensuring tailored and efficient preparation for all learners.</p>
                        <button class="mb-1 btn btn-secondary btn-oval" type="button"
                                style="border: None"
                                onclick="location.href='/practicetestslibrary/'">Practice!
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-default mb-3">
                    <div class="card-header" style="font-size: 20px; font-weight: bold;">Mock Tests</div>
                    <div class="card-body">
                        <p class="card-text">Take authentic tests under realistic exam conditions, complete with timed
                            tests and instant grading, facilitating an authentic and effective test-taking
                            experience!</p>
                        <button class="mb-1 btn btn-primary btn-oval"
                                style="background-color: rgb(0, 51, 153); color: #fff"
                                onclick="location.href='/mocktestslibrary/'"
                                type="button">Take the test!
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% include 'block/features.html' %}
    </div>
{% endblock %}