{% extends 'base.html' %}
{% load static %}

{% block content %}
    <title>Mock Tests Library</title>
    <div class="homepage-specific-animation" id="home-introduction">
        <!--Change link to test library -->
        <div class="carousel" id="carouselExampleCaptions" data-ride="carousel">
            <div class="carousel-inner">

                <div class="carousel-item active"><img class="d-block w-100"
                                                       src="{% static 'img/mocktestslibrary-bg.png' %}"
                                                       alt="mocktestslibrary-bg">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                </div>
            </div>
        </div>

        <div class="position-relative ct-tui  p-2 p-lg-5 bg-white" id="">
            <div class="container position-relative">
                <div class="fadeInUp row m-0 p-0 justify-content-center">
                    <h1 class="h1 ct-tui__title">
                        Welcome to the TOPIK Mock Tests Library!</h1>
                    <div class="ct-tui__description">

                        <p>Prepare for success with our comprehensive collection of TOPIK mock tests. Whether you're
                            gearing up for the official exam or aiming to sharpen your Korean language skills, our
                            curated practice materials are designed to help you assess your proficiency, identify areas
                            for improvement, and build confidence. Dive in, explore, and embark on your journey to
                            mastery with us today.</p>
                    </div>

                </div>
            </div>
        </div>
        <!-- Your content here -->


        <div class="row">
            <div class="col-lg-6">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-header" style="font-size: 20px; font-weight: bold;">TOPIK I</div>
                    <div class="card-body">
                        <p class="card-text">Are you preparing for the TOPIK I and looking for high-quality practice
                            materials? Look no further! The TOPIK I Mock Test Library is the perfect resource for
                            you!</p>
                        <button class="mb-1 btn btn-secondary btn-oval" onclick="location.href='topik1/'"
                                type="button">TOPIK I Tests
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-default mb-3">
                    <div class="card-header" style="font-size: 20px; font-weight: bold;">TOPIK II</div>
                    <div class="card-body">
                        <p class="card-text">Are you preparing for the TOPIK I and looking for high-quality practice
                            materials? Look no further! Our TOPIK II Mock Test Library is designed to help you excel on
                            you exam!</p>
                        <button class="mb-1 btn btn-primary btn-oval" type="button">TOPIK II Tests</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}