{% extends 'layout/base.html' %}

<div><div class="swal-icon swal-icon--success">
    <span class="swal-icon--success__line swal-icon--success__line--long"></span>
    <span class="swal-icon--success__line swal-icon--success__line--tip"></span>

    <div class="swal-icon--success__ring"></div>
    <div class="swal-icon--success__hide-corners"></div>
</div><div class="swal-title" style="">Good job!</div><div class="swal-text" style="">You clicked the button!</div><div class="swal-footer"><div class="swal-button-container">

    <button class="swal-button swal-button--confirm">OK</button>

    <div class="swal-button__loader">
        <div></div>
        <div></div>
        <div></div>
    </div>

</div></div></div>