{% extends 'base.html' %}

{% block content %}
<div class="card mb-3 border-black">
    <div class="card-header text-black bg-card">Header</div>
    <div class="card-body">
        <h5 class="card-title">Primary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
            the card's content.</p>
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <div class="radio-container">
                        <label class="c-radio"><input id="inlineradio1" type="radio" name="i-radio" value="option1"
                                                      checked=""><span class="fa fa-circle"></span> a</label>
                    </div>
                    <div class="radio-container">
                        <label class="c-radio"><input id="inlineradio2" type="radio" name="i-radio"
                                                      value="option2"><span class="fa fa-circle"></span> b</label>
                    </div>
                </div>
                <div class="text-center">
                    <div class="radio-container">
                        <label class="c-radio"><input id="inlineradio1" type="radio" name="i-radio" value="option1"
                                                      checked=""><span class="fa fa-circle"></span> a</label>
                    </div>
                    <div class="radio-container">
                        <label class="c-radio"><input id="inlineradio2" type="radio" name="i-radio"
                                                      value="option2"><span class="fa fa-circle"></span> b</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}