{% extends 'layout/base.html' %}
{% load static %}

{% block content %}
    <title>TOPIK Exam Dates</title>
    <div class="homepage-specific-animation" id="home-introduction">
        <!--Change link to test library -->
        <div class="position-relative ct-tui  p-2 p-lg-5 bg-white" id="">
            <div class="container position-relative">
                <div class="fadeInUp row m-0 p-0 justify-content-center">
                    <div class="col about-us col-12 col-xl-6 m-0 p-0 ct-tui__col">
                        <h1 class="h1 ct-tui__title">
                            <br>Mark Your Calendars!</h1>
                        <div class="ct-tui__description">
                            <h2><strong>2024 TOPIK Test Schedule</strong></h2>
                            <br><br>
                            <p>The Test of Proficiency in Korean (TOPIK) is offered multiple times throughout the year,
                                giving you flexibility to choose a date that works for you. In 2024, there are several
                                opportunities to take the TOPIK depending on whether you prefer the paper-based test
                                (PBT) or the internet-based test (IBT).
                                <br>
                                <br>
                                Originating in South Korea, TOPIK has gained global recognition as a standardized
                                assessment tool, offering individuals a chance to showcase their Korean language skills.
                                <br>
                                <br>
                            </p>
                        </div>
                    </div>
                    <div class="col col-12 col-sm-10 col-lg-6 m-0 p-0 ct-tui__col d-none d-xl-flex">
                        <img fetchpriority="high" decoding="async" width="600" height="450"
                             src="{% static 'img/abouttheTOPIK-bg.png' %}"
                             class="thumbnail-component ct-tui__image object-fit-contain is-not-lazyload" alt=""
                             loading="ea">

                    </div>
                </div>
                <br>
                <br>
                <div class="ct-tui__description">
                    <p>In 2024, aspiring test-takers eagerly anticipate the TOPIK examination date, a pivotal moment in
                        their language learning journey. While specific dates may vary by region and country, TOPIK
                        typically offers exams multiple times a year to accommodate diverse schedules and preferences.
                        As the world evolves, TOPIK remains steadfast, providing regular opportunities for individuals
                        to demonstrate their linguistic prowess.
                        <br><br>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Paper-Based Test (PBT)</th>
                            <th>Internet-Based Test (IBT)</th>
                            <th>Speaking Test</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>92nd TOPIK: May 12, 2024</td>
                            <td>2nd TOPIK IBT: March 22-23, 2024</td>
                            <td>4th TOPIK Speaking Test: March 23, 2024 (only offered in South Korea)</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>93rd TOPIK: July 13-14, 2024</td>
                            <td>3rd TOPIK IBT (tentative): June (specific dates to be announced)</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>94th TOPIK: October 12-13, 2024</td>
                            <td>4th TOPIK IBT (tentative): September (specific dates to be announced)</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>95th TOPIK: November 10, 2024</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>


                    <h5><strong>Additional Notes:</strong></h5>
                    <ul>
                        <li>The TOPIK Speaking test, introduced in 2021, is currently only offered in South Korea.
                            However,
                            there will be three administrations in 2024 with specific dates to be announced later.
                        </li>
                        <li>Be sure to check the official TOPIK website or your local testing center for registration
                            deadlines
                            and further details.
                        </li>
                        <li>Specific registration dates can be found on the official TOPIK website (<a
                                href="https://www.topik.go.kr/">https://www.topik.go.kr/</a>) or through authorized
                            testing institutions in your area.
                        </li>
                        <li>The dates listed above are subject to change, so it's important to check the official TOPIK
                            website for the latest information.
                        </li>
                    </ul>
                    <br>
                </div>
            </div>
        </div>
    </div>

{% endblock %}