{% extends 'base.html' %}
{% load static %}

{% block content %}
    <title>TOPIK I Mock Tests</title>
    <div class="homepage-specific-animation" id="home-introduction">
        <!--Change link to test library -->
        <div class="carousel" id="carouselExampleCaptions" data-ride="carousel">
            <div class="carousel-inner">

                <div class="carousel-item active"><img class="d-block w-100"
                                                       src="{% static 'img/topik1-bg.png' %}"
                                                       alt="topik1-bg">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                </div>
            </div>
        </div>

        <div class="position-relative ct-tui  p-2 p-lg-5 bg-white" id="">
            <div class="container position-relative">
                <div class="fadeInUp row m-0 p-0 justify-content-center">
                    <h1 class="h1 ct-tui__title">
                        Welcome to the <strong>TOPIK I</strong> Mock Tests Library!</h1>
                    <div class="ct-tui__description">

                        <p><strong>Master the TOPIK I exam</strong> with our comprehensive library of realistic mock
                            tests and targeted
                            practice questions. Whether you're a seasoned learner or just starting your journey, our
                            resources are designed to <strong>boost your score</strong> and <strong>maximize your
                                confidence</strong> on test day.</p>
                    </div>

                </div>
            </div>
        </div>
        <!-- Your content here -->


        <div class="row">

            <div class="col-lg-2 col-md-4 col-sm-6 col-12 card text-white bg-primary mb-3 ml-lg-3">
                <div class="card-header" style="font-size: 20px; font-weight: bold;">83rd TOPIK I Exam</div>
                <div class="card-body">
                    <p class="card-text">Date: July 9-10th, 2022</p>
                    <button class="mb-1 btn btn-secondary btn-oval" type="button">TOPIK I Excercises</button>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6 col-12 card card-default mb-3 ml-lg-3">
                <div class="card-header" style="font-size: 20px; font-weight: bold;">83rd TOPIK I Exam</div>
                <div class="card-body">
                    <p class="card-text">83rd TOPIK I Exam</p>
                    <button class="mb-1 btn btn-primary btn-oval" type="button">TOPIK II Exercises</button>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6 col-12 card text-white bg-primary mb-3 ml-lg-3">
                <div class="card-header" style="font-size: 20px; font-weight: bold;">83rd TOPIK I Exam</div>
                <div class="card-body">
                    <p class="card-text">Date: July 9-10th, 2022</p>
                    <button class="mb-1 btn btn-secondary btn-oval" type="button">TOPIK I Excercises</button>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6 col-12 card card-default mb-3 ml-lg-3">
                <div class="card-header" style="font-size: 20px; font-weight: bold;">83rd TOPIK I Exam</div>
                <div class="card-body">
                    <p class="card-text">83rd TOPIK I Exam</p>
                    <button class="mb-1 btn btn-primary btn-oval" type="button">TOPIK II Exercises</button>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6 col-12 card text-white bg-primary mb-3 ml-lg-3">
                <div class="card-header" style="font-size: 20px; font-weight: bold;">83rd TOPIK I Exam</div>
                <div class="card-body">
                    <p class="card-text">Date: July 9-10th, 2022</p>
                    <button class="mb-1 btn btn-secondary btn-oval" type="button">TOPIK I Excercises</button>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6 col-12 card card-default mb-3 ml-lg-3">
                <div class="card-header" style="font-size: 20px; font-weight: bold;">83rd TOPIK I Exam</div>
                <div class="card-body">
                    <p class="card-text">83rd TOPIK I Exam</p>
                    <button class="mb-1 btn btn-primary btn-oval" type="button">TOPIK II Exercises</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}