{% extends 'base.html' %}
{% load static %}

{% block content %}
    <title>Terms & Conditions</title>
    <div class="content-wrapper" style="padding: 20px 200px; border-top: 0">
        <h2 style="text-align: center; "> Terms of Use for Hanja Hero</h2>

        <br>

        <p> Welcome! These Terms of Use ("Terms") govern your access to and use of Hanja Hero TOPIK Mock Test Website
            ("Service"). By accessing or using the Service, you agree to be bound by these Terms.

            <br>
            <br>

            If you disagree with any part of the Terms, then you may not access or use the Service. </p>

        <br>

        <h4>1. Accounts and User Conduct</h4>

        <p>You may need to create an account to access certain features of the Service. You are responsible for
            maintaining the confidentiality of your account information and for all activity that occurs under your
            account.
            You agree to use the Service for lawful purposes only and in accordance with these Terms.

            You will not use the Service:</p>
        <ul>
            <li>In a way that violates any law or regulation.</li>
            <li>To infringe on the rights of others, including intellectual property rights.</li>
            <li>o transmit any harmful, harassing, or obscene content.</li>
            <li>To interfere with the operation of the Service.</li>
        </ul>

        <br>

        <h4>2. Content and Intellectual Property</h4>

        <ul>
            <li>You may use the Service to access and take mock tests for personal, non-commercial use only.
            <li>We grant you a non-exclusive, non-transferable license to access and use the Service in accordance with
                these Terms.
        </ul>

        <h4>3. Disclaimer</h4>

        <ul>
            <li>The Service is provided "as is" and without warranties of any kind, express or implied. We disclaim all
                warranties, including, but not limited to, warranties of merchantability, fitness for a particular
                purpose, and non-infringement.
            </li>
            <li>We do not guarantee that the Service will be uninterrupted, error-free, or virus-free.</li>
            <li>We will not be liable for any damages arising from your use of the Service, including, but not limited
                to, direct, indirect, incidental, consequential, or punitive damages.
            </li>
        </ul>

        <br>

        <h4>4. Limitation of Liability</h4>

        <p>Our total liability to you for any claims arising out of or related to the Service will not exceed the amount
            you paid to use the Service.</p>

        <br>

        <h4>5. Term and Termination</h4>

        <p>We may terminate your access to the Service at any time, for any reason, with or without notice.</p>

        <br>

        <h4>6. Changes to the Terms</h4>

        <p> We may modify these Terms at any time. The modified Terms will be effective upon posting on the Service.
            Your
            continued use of the Service after the posting of modified Terms constitutes your acceptance of the modified
            Terms.</p>

        <br>

        <h4>7. Governing Law</h4>

        <p>These Terms will be governed by and construed in accordance with the laws of [Your Jurisdiction], without
            regard to its conflict of law provisions.</p>

        <br>

        <h4>8. Entire Agreement</h4>

        <p>These Terms constitute the entire agreement between you and us regarding your use of the Service.</p>

        <br>

        <h4>9. Contact Us</h4>

        <p>If you have any questions about these Terms, please contact us at
            <a href="mailto: customerservice@hanjahero.edu.vn">customerservice@hanjahero.edu.vn</a>.</p>

    </div>
{% endblock %}