#note-box {
    position: absolute;
    top: 50px; /* Adjust this value based on your navbar height */
    right: 10px;
    width: 200px; /* Set the width of the note box */
    height: 200px; /* Set the height of the note box */
    border: none;

}

.button-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-auto-rows: 50px;
    gap: 5px;
}


.nav-button {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(0, 51, 153);
    border-radius: 5px;
    background-color: #fff;
    color: rgb(0, 51, 153);
    cursor: pointer;
    font-size: 14px;
}