<div class="card bg-light mb-3" style="border: none; box-shadow: none; padding-top: 20px">
    <div id="examCardContainer">
        <div id="skillCardContainer"></div>
        <!-- Add hidden elements to store selected skill and exam -->
        <div id="selectedSkill" data-skill=""></div>
        <div id="selectedExam" data-exam=""></div>
    </div>
    <!-- Add hidden elements to store selected skill and exam -->
    <div id="selectedSkill" data-skill=""></div>
    <div id="selectedExam" data-exam=""></div>
</div>
