<svg width="130" height="130" viewBox="0 0 250 250" class="circular-progress"
     style="--progress: calc({{ user_score }} / {{ total_score }} * 100)">
    <circle class="bg"></circle>
    <circle class="fg"></circle>
    <!-- Add text element for the score -->
    <text x="50%" y="50%" text-anchor="middle" dominant-baseline="middle" fill="#113B8AFF">
        <tspan font-size="55" font-weight="bolder">{{ user_score }}</tspan>
        <tspan font-size="40" font-weight="normal" dy="15"> /</tspan>
        <tspan font-size="30" font-weight="normal" dy="10">{{ total_score }}</tspan>
    </text>
</svg>
