<a class="nav-link" onclick="toggleNavBox()" id="note-button"
   style="padding: 1.1rem .95rem; display: flex; align-items: center;">
    <em class="fa-2x mr-2 fas fa-question-circle"
        style="font-size: 15px; color: #1952be; margin-right: 0 !important"></em>
</a>

<div id="nav-box" class="collapse" style="position: fixed; top: 50px; right: 10px; width: 600px; overflow-y: auto;">
    <div class="card card-body">
        <label>Question Navigation Buttons</label>
        <div class="button-container">
            {% for question in questions %}
            <button onclick="scrollToQuestion('{{ forloop.counter }}')" class="nav-button" title="QuesNav">
                {{ forloop.counter }}
            </button>
            {% endfor %}
        </div>
    </div>
</div>
