{% load custom_filters %}
{% for question in questions %}
    <div class="card mb-3 border-black" style="border-radius: 0; box-shadow: none">
        {% for item in format %}
            {% for key, value in item.items %}
                {% if key == question.format %}
                    <div class="card-header text-black bg-card" style="font-size: 20px; font-weight: bolder;">
                        {{ value }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <div class="card-body">
            {% if question.question_meta_data %}
                <div class="card mb-3 border-black" style="width: 100%; align-items: center">
                    <div class="card-body">
                        <div class="question-meta-data-text" id="question-meta-data" style="font-size: 17px">
                            {{ question.question_meta_data.question_meta_text|safe }}
                        </div>
                    </div>
                </div>
            {% endif %}
            <h5 class="card-title" id="QuestionNo{{ forloop.counter }}" style="font-size: 17px; line-height: 200%; white-space: nowrap;">
                <span style="display: inline-block; margin-right: 5px; font-weight: bolder">{{ forloop.counter }}. ({{ question.score }}점)</span>
                {% if question.question_text %}
                    <span style="display: inline-block;">{{ question.question_text|safe }}</span>{% endif %}
            </h5>
            <div id="options" style="margin-left: 30px">
                <div class="form-check">
                    <table>
                        <tr>
                            <td style="padding-right: 70px;">
                                <input class="form-check-input" type="radio"
                                       name="answer_{{ question.question_id }}"
                                       id="exampleRadios1_{{ forloop.counter }}"
                                       value="1">
                                <label class="form-check-label" for="exampleRadios1_{{ forloop.counter }}"
                                       style="font-size: 15px;">
                                    {{ question.option_1|safe }}
                                </label>
                            </td>
                            <td style="padding-left: 70px;">
                                <input class="form-check-input" type="radio"
                                       name="answer_{{ question.question_id }}"
                                       id="exampleRadios2_{{ forloop.counter }}"
                                       value="2">
                                <label class="form-check-label" for="exampleRadios2_{{ forloop.counter }}"
                                       style="font-size: 15px;">
                                    {{ question.option_2|safe }}
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-right: 70px;">
                                <input class="form-check-input" type="radio"
                                       name="answer_{{ question.question_id }}"
                                       id="exampleRadios3_{{ forloop.counter }}"
                                       value="3">
                                <label class="form-check-label" for="exampleRadios3_{{ forloop.counter }}"
                                       style="font-size: 15px;">
                                    {{ question.option_3|safe }}
                                </label>
                            </td>
                            <td style="padding-left: 70px;">
                                <input class="form-check-input" type="radio"
                                       name="answer_{{ question.question_id }}"
                                       id="exampleRadios4_{{ forloop.counter }}"
                                       value="4">
                                <label class="form-check-label" for="exampleRadios4_{{ forloop.counter }}"
                                       style="font-size: 15px;">
                                    {{ question.option_4|safe }}
                                </label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
