{% load custom_filters %}
{% for question in questions %}
    <div class="card mb-3 border-black" style="border-radius: 0; box-shadow: none">
        <div class="card-header text-black bg-card" style="font-size: 20px; font-weight: bolder;">
            {{ question.format.name }}
        </div>
        <div class="card-body">
            <h5 class="card-title" style="font-size: 17px; line-height: 200%; white-space: nowrap;">
                <span style="display: inline-block; margin-right: 5px; font-weight: bolder">{{ forloop.counter }}. ({{ question.score }}점)</span>
                <span style="display: inline-block;">{{ question.question_text|safe }}</span>
            </h5>
            <div id="options" style="margin-left: 30px">
                <table>
                    {% for option_num in "1234"|make_list %}
                        <tr>
                            {% with option="option_"|add:option_num %}
                                <td>
                                    <input class="form-check-input" type="radio"
                                           name="answer_{{ question.question_id }}"
                                           id="exampleRadios{{ option_num }}_{{ forloop.parentloop.counter }}"
                                           value="{{ option_num }}" disabled
                                            {% if user_choices|safe_get:question.question_id == option_num %}
                                           checked
                                            {% endif %}>
                                    <label class="form-check-label
                                                {% if correct_answers|get_item:question.question_id|stringformat:'s' == option_num %}text-success
                                                {% elif user_choices|get_item:question.question_id|stringformat:'s' == option_num %}text-danger
                                                {% endif %}"
                                           for="exampleRadios{{ option_num }}_{{ forloop.parentloop.counter }}"
                                           style="font-size: 15px;">
                                        {{ question|get_attribute:option|safe }}
                                    </label>
                                </td>
                            {% endwith %}
                        </tr>
                    {% endfor %}
                    {% if not user_choices|get_item:question.question_id %}
                        <tr>
                            <td class="text-danger">You didn't answer this question.</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
{% endfor %}
