{% load static %}
<div class="col-md-6">
    <div class="card mb-3 h-100 d-flex"
         style="background-color: #ffffff; border: none; box-shadow: none; border-radius: 50px; width: 100%;">
        <!-- Content for the Mock card -->
        <div class="card-content" style="padding: 20px;">
            <!-- HEADER -->
            <h2 style="text-align: center; color: #861218; line-height: 50px;">
                <img src="{% static '/img/mock-test.png' %}" alt="Practice Test"
                     style="width: 70px; padding-bottom: 15px">
                <br>
                Mock Test Mode
            </h2>
            <p>Welcome to mock test mode: your virtual practice ground for the upcoming exam, where
                you can simulate the real testing experience to hone your skills and boost your
                confidence.</p>

            <div style="text-align: center; padding: 20px">
                <button id="startTestButton" class="btn btn-oval btn-primary" type="button" style="background-color: #861218;
                color: #fff; border: none; box-shadow: none; padding: 10px 20px; font-size: 15px">
                    <strong>START TEST</strong>
                </button>
            </div>
        </div>
    </div>
</div>
