{% load static %}
<div class="col-md-6">
    <div class="card mb-3 h-100 d-flex"
         style="background-color: #ffffff; border-color: rgba(134,18,24,0.37); box-shadow: none; border-radius: 50px; width: 100%;">
        <!-- Content for the Mock card -->
        <div class="card-content" style="padding: 20px;">
            <!-- HEADER -->
            <h2 style="text-align: center; color: #861218; line-height: 50px;">
                <img src="{% static '/img/mock-test.png' %}" alt="Practice Test"
                     style="width: 70px; padding-bottom: 15px">
                <br>
                Mock Test Mode
            </h2>
            <p>Welcome to mock test mode: your virtual practice ground for the upcoming exam, where
                you can simulate the real testing experience to hone your skills and boost your
                confidence.</p>

            <!-- START BUTTON -->

        </div>
    </div>
</div>
