<div class="modal fade" id="myModalLarge" tabindex="-1" aria-labelledby="myModalLabelLarge" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl"> <!-- Changed modal-dialog to modal-xl for extra large size -->
        <div class="modal-content" style="background-color: #ffffff; border-radius: 50px; border: none">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabelLarge"></h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close" style="margin: 0 0 -1rem auto !important;">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="padding-top: 0">
                <div class="row">
                    <!-- Include Practice Mode Card -->
                    {% include 'layout/practice_card.html' %}

                    <!-- Include Mock Test Mode Card -->
                    {% include 'layout/mock_card.html' %}
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div style="text-align: center; padding: 20px">
                            <button id="startPractice" class="btn btn-oval btn-primary" type="button" style="background-color: #052f7e;
                    color: #fff; border: none; box-shadow: none; padding: 10px 20px; font-size: 15px">
                                <strong>START PRACTICE TEST</strong>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div style="text-align: center; padding: 20px">
                            <button id="startTestButton" class="btn btn-oval btn-primary" type="button" style="background-color: #861218;
                color: #fff; border: none; box-shadow: none; padding: 10px 20px; font-size: 15px">
                                <strong>START TEST</strong>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
