<div class="modal fade" id="myModalLarge" tabindex="-1" aria-labelledby="myModalLabelLarge" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl"> <!-- Changed modal-dialog to modal-xl for extra large size -->
        <div class="modal-content" style="background-color: #fafafa; border-radius: 50px; border: none">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabelLarge"></h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close" style="margin: 0 0 -1rem auto !important;">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="padding-top: 0">
                <div class="row">
                    <!-- Include Practice Mode Card -->
                    {% include 'layout/practice_card.html' %}

                    <!-- Include Mock Test Mode Card -->
                    {% include 'layout/mock_card.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
