<a class="nav-link" onclick="toggleNoteBox()" style="padding: 1.1rem .95rem; display: flex; align-items: center;">
    <em class="fa-2x mr-2 far fa-sticky-note" style="font-size: 15px; color: #1952be; margin-right: 0 !important"></em>
</a>

<div id="note-box" class="collapse" style="position: fixed; top: 50px; right: 10px; width: 400px;">
    <div class="card card-body">
        <label for="note-content">Note</label>
        <textarea id="note-content" style="height: 120px; width: 100%; border: none;" placeholder="Write your note here..."></textarea>
    </div>
</div>