{% load custom_filters %}
{% for question in questions %}
    <div class="card mb-3 border-black">
        {% for item in format %}
            {% for key, value in item.items %}
                {% if key == question.format %}
                    <div class="card-header text-black bg-card" style="font-size: 20px; font-weight: bolder;">
                        {{ value }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <div class="card-body">
            {% if question.question_meta_data %}
                <div class="card mb-3 border-black" style="width: 100%; align-items: center">
                    <div class="card-body">
                        <div class="question-meta-data-text" id="question-meta-data" style="font-size: 17px">
                                {{ question.question_meta_data.question_meta_text|safe }}
                        </div>
                    </div>
                </div>
            {% endif %}
            <h5 class="card-title" style="font-size: 17px; line-height: 200%">
                {{ forloop.counter }}. ({{ question.score }}점)
                {% if question.question_text %}{{ question.question_text|safe }}{% endif %}</h5>
            <div id="options">
                <div class="form-check">
                    <table>
                        <tr>
                            <td style="padding-right: 50px;">
                                <input class="form-check-input" type="radio" name="exampleRadios{{ forloop.counter }}"
                                       id="exampleRadios1_{{ forloop.counter }}"
                                       value="option1">
                                <label class="form-check-label" for="exampleRadios1_{{ forloop.counter }}"
                                       style="font-size: 15px;">
                                    {% if question.option_1_is_image %}
                                        <img src="{{ question.option_1 }}" class="img-fluid" alt="Option 1">
                                    {% else %}
                                        {{ question.option_1|safe }}
                                    {% endif %}
                                </label>
                            </td>
                            <td style="padding-left: 50px;">
                                <input class="form-check-input" type="radio" name="exampleRadios{{ forloop.counter }}"
                                       id="exampleRadios2_{{ forloop.counter }}"
                                       value="option2">
                                <label class="form-check-label" for="exampleRadios2_{{ forloop.counter }}"
                                       style="font-size: 15px;">
                                    {% if question.option_2_is_image %}
                                        <img src="{{ question.option_2 }}" class="img-fluid" alt="Option 1">
                                    {% else %}
                                        {{ question.option_2|safe }}
                                    {% endif %}
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-right: 50px;">
                                <input class="form-check-input" type="radio" name="exampleRadios{{ forloop.counter }}"
                                       id="exampleRadios3_{{ forloop.counter }}"
                                       value="option3">
                                <label class="form-check-label" for="exampleRadios3_{{ forloop.counter }}"
                                       style="font-size: 15px;">
                                    {% if question.option_3_is_image %}
                                        <img src="{{ question.option_3 }}" class="img-fluid" alt="Option 1">
                                    {% else %}
                                        {{ question.option_3|safe }}
                                    {% endif %}
                                </label>
                            </td>
                            <td style="padding-left: 50px;">
                                <input class="form-check-input" type="radio" name="exampleRadios{{ forloop.counter }}"
                                       id="exampleRadios4_{{ forloop.counter }}"
                                       value="option4">
                                <label class="form-check-label" for="exampleRadios4_{{ forloop.counter }}"
                                       style="font-size: 15px;">
                                    {% if question.option_4_is_image %}
                                        <img src="{{ question.option_4 }}" class="img-fluid" alt="Option 1">
                                    {% else %}
                                        {{ question.option_4|safe }}
                                    {% endif %}
                                </label>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
{% endfor %}