{% for question in questions %}
    {% if question.question_meta_data %}
        <div class="card mb-3 border-black">
            {% for item in format %}
                {% for key, value in item.items %}
                    {% if key == question.format %}
                        <div class="card-header text-black bg-card" style="font-size: 20px; font-weight: bolder;">
                            {{ value }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}

            <div class="img-fluid card-body">
                <div class="img-fluid question-text" id="question-meta-data" style="font-size: 17px">
                    {{ question.question_meta_data.question_meta_text|safe }}
                </div>
            </div>
        </div>
    {% endif %}

{% endfor %}
