{% load static %}
<div class="main-wrapper">
    <div class="timer-wrapper">
        <div class="timer-section">
            <span class="timer-label">Time left: </span>
            <div id="min-dozens" class="timer">{{ time_limit }}</div>
            <div id="min-unity" class="timer"></div>
        </div>
        <span class="colon">:</span>
        <div class="timer-section">
            <div id="sec-dozens" class="timer">0</div>
            <div id="sec-unity" class="timer">0</div>
        </div>
    </div>
</div>
