<article class="cCarousel-item">
    <div class="infos">
        <h3 style="font-size: 20px; font-weight: bold; text-align: center;">83rd TOPIK I Exam
        </h3>
        <p style="text-align: center; padding-bottom: 10px">Date: July
            9-10th, 2022</p>
        <div class="row">
            <button class="btn btn-secondary btn-oval" type="button"
                    style="border-radius: 20px; padding: 18px; box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); margin: 5px">
                <em class="fa-2x fas fa-headphones"></em><br>
                Listening
            </button>
            <button class="btn btn-secondary btn-oval" type="button"
                    style="border-radius: 20px; padding: 18px; box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); margin: 5px">
                <em class="fa-2x icon-book-open"></em><br>
                Reading
            </button>
        </div>
    </div>
</article>